/* .example-spacer{
    flex: 1 1 auto;
} */

.col-md-3 {
    flex: 0 0 auto;
    width: 25%;
    text-align-last: end;
}

.col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
    text-align-last: end;
}