.full-width{
    width: 100%;
}

/* .container{
    background-color: lightgreen;
   
} */

/* .bootstrap-wrapper{
    border-style:solid;
} */

#progress-bar {
    position: absolute;
    left: 0px;
    bottom: 0px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
  }